@model Hbs.Web.QuestionAnswer.Models.Question

@{
    ViewBag.Title = "Bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Frage bearbeiten</h2>


@using (Html.BeginForm("Edit", "Questions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            @Html.ActionLink("Zurück zur Frage", "Details", "Questions", new { id = Model.Id }, null)
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Author)
        @Html.HiddenFor(model => model.CreationDate)

        <div class="form-group">
            <div class="question-title-labelbox">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-1" })
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control question-create-input-title" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ms-Grid-row">
            <div class="col-lg-12">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control question-answer-textarea", @rows = 10 })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            @Html.Label("Bilder")
        </div>
        <div>
            <div>
                @if (Model.Attachments != null)
                {
                    for (int i = 0; i < Model.Attachments.Count; i++)
                    {
                        <div class="row singlefile" id="@string.Format("attrowid{0}", Model.Attachments[i].Id)">
                            <div class="col-lg-2">
                                <div class="image-preview">
                                    <img src="/Questions/Attachment/@Model.Attachments[i].Id" class="dt-image-to-dialog" />
                                </div>
                            </div>
                            <div class="col-lg-5 dt-dotdotdot" title="@Model.Attachments[i].Name">@Model.Attachments[i].Name</div>
                            <div class="col-lg-5">
                                <a href="javascript:void(0)" title="Delete" onclick="deleteAttachment(@Model.Attachments[i].Id)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                            @Html.HiddenFor(model => model.Attachments[i].Id)
                            @Html.HiddenFor(model => model.Attachments[i].QuestionId)
                            @Html.HiddenFor(model => model.Attachments[i].Name)
                            @Html.HiddenFor(model => model.Attachments[i].Delete, new { id = "attrdeleteid" + Model.Attachments[i].Id })
                        </div>
                    }
                }
            </div>
            <div>
                <input type="file" name="files" multiple="multiple" />
            </div>
            <div id="selectedFiles">
                <!-- selected files will show up here -->
            </div>
        </div>
        <br />
        <div class="form-group ms-Grid-row">
            <div class="col-lg-2">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
